{% extends "layout.html" %}

{% block content %}
  <h2>Contact</h2>
  <form action="{{ url_for('contact') }}" method=post>
    <!-- 
      This form has no CSRF protection.  To add, see:
      https://flask-wtf.readthedocs.io/en/0.15.x/csrf/
    -->
    
    {{ form.name.label }}
    {{ form.name }}
    
    {{ form.email.label }}
    {{ form.email }}
    
    {{ form.subject.label }}
    {{ form.subject }}
    
    {{ form.message.label }}
    {{ form.message }}
    
    {{ form.submit }}
  </form>
{% endblock %} 
