<!DOCTYPE html>
<!-- The layout.html file is a template the is 'extended' by the other html files.  EG:  They all will have block content-->
<html>
  <head>
    <title>Flask App</title>
    <!-- url_for is a flask function for dynamic urls.  These examples show it simplist use-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

  <header>
    <div class="container">
      <h1 class="logo">Flask App</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <!--Clicking on this will give and error because there is not yet a hidden_tag() function -->
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
